/* General Styles */
body {
    font-family: 'Inter', 'Kanit', 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2, h3 {
    margin: 0;
    font-weight: bold;
}

.summary-section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px auto;
    margin-top: 100px; 
    transform: translateX(70px); 
}

.summary-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.detail {
    flex: 1;
    padding: 10px;
    text-align: left; 
    border-right: 1px solid #ddd;
}

.detail h3, .detail p:last-child {
    font-size: 1.2em; 
    font-weight: bold; 
}

.detail p {
    font-size: 1.2em; 
}


.details-section {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(70px); 
    min-height: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f0f0f0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.status-success {
    color: orange;
}

tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease; 
}

/* Product List Styles */
.container {
    max-width: 900px;
    margin: 50px auto;
    background-color: white;
    padding: 40px; 
    padding-bottom: 80px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tablink {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
    color: #333; 
    background-color: transparent; 
    border: none; 
    border-radius: 4px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.tablink:hover {
    color: #ff6600; 
    background-color: #d1c2c2; 
}

.tablink:focus {
    outline: none; 
    color: #ff6600; 
    font-weight: bold; 
}

.tablink:active {
    color: #ff6600;
    font-weight: bold;
}

.tablink.inactive {
    color: black; 
    background-color: transparent;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease; 
    border-radius: 5px; 
    gap: 10px; 
}

.item-container:hover {
    background-color: #e0e0e0;
}

.item-container div {
    flex-basis: 23%; 
    text-align: left;
}

.item-container div:last-child {
    flex-basis: auto; 
}

.status {
    color: #ff6600; 
}

.highlight {
    color: #ff6600; 
}

.delete-btn {
    background-color: transparent; 
    border: none; 
    color: #888888; 
    cursor: pointer;
    text-align: right; 
    padding: 0;
    margin-left: auto; 
    transition: color 0.3s ease;
}

.delete-btn:hover {
    color: #000000; 
}

.header-title {
    font-weight: bold; 
    font-size: 0.9em; 
    flex-basis: 23%; 
    text-align: left; 
}
