body {
    font-family: 'Inter', 'Kanit', 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.products {
    text-align: center; 
    padding: 40px 20px; 
    color: #2f2d2d;
    margin-top: 100px; 
}

.heading {
    background-color: #E35205; 
    color: white;
    padding: 10px 15px; 
    font-size: 24px; 
    border-radius: 15px; 
    margin-bottom: 20px; 
    display: inline-block; 
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    margin-top: 120px; 
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-link {
    text-decoration: none; 
    color: inherit; 
}

.product-link:hover {   
    transform: scale(1.05); 
    transition: transform 0.2s; 
}
