/* General Styling */
body {
    font-family: 'Inter', 'Kanit', 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Categories Section */
.categories {
    text-align: center;
    padding: 20px;
    margin-top: 100px; /* เพิ่มระยะห่างจากด้านบน */
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;   
}

.category-item {
    text-align: center;
}

.category-item img {
    width: 50px; /* ปรับขนาดตามต้องการ */
    height: 50px; /* ปรับขนาดตามต้องการ */
    object-fit: cover; /* ให้รูปภาพแสดงผลภายในกรอบโดยไม่บิดเบือน */
}

.category-item p {
    font-size: 14px;
    color: #333;
}

/* Products Section */
.products {
    text-align: center;
    padding: 20px;
    color: #2f2d2d;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* กำหนดจำนวนคอลัมน์ */
    gap: 20px;
}

.product-link {
    text-decoration: none; /* ลบเส้นใต้ */
    color: inherit; /* รักษาสีของข้อความใน product card */
}

.product-link:hover {
    /* ถ้าต้องการ: เพิ่มเอฟเฟ็กต์เมื่อเลื่อนเมาส์ */
    transform: scale(1.05); /* ขยายการ์ดเล็กน้อยเมื่อเลื่อนเมาส์ */
    transition: transform 0.2s; /* การเปลี่ยนแปลงอย่างราบรื่น */
}