body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center; /* จัดให้ข้อความอยู่กลาง */
}

.header img.back-arrow {
    width: 120px;
    height: 120px;
    position: absolute; /* ทำให้ภาพย้ายไปอยู่ด้านซ้าย */
    left: 20px; /* ระยะห่างจากซ้าย */
    cursor: pointer;
}

.header-title {
    text-align: center; /* จัดให้อยู่ตรงกลาง */
    flex-grow: 1; /* ขยายให้ครอบคลุมพื้นที่ */
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

h2 {
    font-size: 22px;
    margin-top: 10px;
}

.info-card {
    background-color: #F05A1A;
    color: white;
    margin: 30px auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.info-item label {
    font-size: 18px;
    flex-grow: 1;
}

.info-item input {
    flex-grow: 2;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.info-item button {
    background-color: white;
    color: #F05A1A;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.info-item input:disabled {
    background-color: #f5f5f5;
    color: #333;
}

.info-item input:enabled {
    background-color: white;
    color: black;
}

