/* General Styling */
body {
    font-family: 'Inter', 'Kanit', 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.products {
    position: relative; 
    text-align: center; 
    padding: 40px 20px; 
    color: #2f2d2d;
    margin-top: 100px; 
}

.heading {
    background-color: #E35205; 
    color: white; 
    padding: 10px 15px; 
    font-size: 24px; 
    position: absolute; 
    top: 20px; 
    left: 20px; 
    border-radius: 25px; 
    z-index: 10; 
}

/* Products Section */
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    margin-top: 120px; 
}

.product-link {
    text-decoration: none; 
    color: inherit; 
}

.product-link:hover {   
    transform: scale(1.05); 
    transition: transform 0.2s; 
}

/* Responsive Styles */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .order-form-section {
        padding: 15px;
    }

    .place-order-button {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .order-form-section {
        padding: 20px;
    }
}
