 /* General Styling */
 body {
    font-family: 'Inter', 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Order Form Section */
.order-form-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    
    margin-top: 100px;
}

/* Input Box Styling */
.input-box, .product-box, .total-box {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* ปรับเงาให้เข้มขึ้น */
}

/* Label Styling */
label {
    display: block;
    margin-bottom: 10px;
    color: #E35205;
    font-weight: bold;
}

/* Textarea Styling */
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

/* Product Details Styling */
.product-box p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

/* Total Price Box */
.total-box {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* ปรับเงาให้เข้มขึ้น */
    height: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-box p {
    font-size: 18px;
    color: #E35205;
    font-weight: bold;
    text-align: center;
}

/* Place Order Button */
.place-order-button {
    background-color: #f5f5f5;
    color: #E35205;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 24px; /* ขนาดตัวอักษรที่ปรับใหญ่ขึ้น */
    font-weight: 800; /* ทำให้ตัวหนาแบบ Extra Bold */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้กับปุ่ม */
}

.place-order-button:hover {
    background-color: #e2e2e1;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* ปรับเงาขึ้นเมื่อเมาส์อยู่เหนือปุ่ม */
}

/* Icon Styling */
label i {
    color: #E35205;
    margin-right: 10px;
}
