/* General Styling */
body {
    font-family: 'Inter', 'Kanit', 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* ส่วนของเนื้อหา */
.profile-edit-section {
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 10px; 
    padding-right: 550px; 
    color: #E35205; 
    font-size: 18px; 
    line-height: 1.6; 
    margin-top: 100px; 
}

/* หัวข้อ */
.faq-title {
    font-size: 28px; 
    font-weight: bold; 
    margin-bottom: 20px; 
    color: #E35205; 
}

/* ส่วนของหมายเหตุ */
.note-header {
    font-size: 18px; 
    font-weight: bold; 
    color: #E35205; 
    margin-top: 20px; 
}

.note {
    font-size: 16px; 
    color: #E35205;
    margin-top: 10px; 
}

/* จัดการกับรายการ (ol และ ul) */
ol, ul {
    padding-left: 40px; 
    margin-bottom: 20px; 
}

li {
    margin-bottom: 10px;
}

