body {
    font-family: 'Inter', 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    padding-bottom: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tablink {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
    color: #333;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.tablink:hover {
    background-color: #e0e0e0;
}

.tablink.active {
    color: #ff6600;
    font-weight: bold;
    background-color: #f0f0f0;
}

.item-container.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold; /* ทำให้หัวข้อเด่น */
}

.item-container {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* ปรับ flex-basis ให้เท่ากัน */
.item-container div {
    flex-basis: 25%; 
    text-align: left;
    font-size: 14px;
}

.item-container .highlight {
    font-weight: bold;
    color: #ff6600;
}

.status {
    color: #ff6600;
    font-weight: bold;
}

.item-container:hover {
    background-color: #f0f0f0;
}

.order-status {
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.order-checkbox {
    margin-right: 10px;
    accent-color: #ff6600; /* สีของ checkbox */
}
